{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="container">

        <div class="d-flex align-items-center justify-content-center mt-4">
            <img class="logomenu img-fluid" src="{{ asset('asset/image/imgdoss.png') }}">
            <h2 class="mt-3">Mon compte</h2>
            <img class="logomenu img-fluid" src="{{ asset('asset/image/imgdoss.png') }}">

        </div>


        {{ form(form) }}

        <div class="d-flex align-items-center justify-content-center mt-4">
            <img class="logomenu img-fluid" src="{{ asset('asset/image/imgdoss.png') }}">
            <h2 class="mt-3">Mes Reservations</h2>
            <img class="logomenu img-fluid" src="{{ asset('asset/image/imgdoss.png') }}">

        </div>

        {% for reservation in app.user.reservations %}
        <div class="badge bg-primary">{{ reservation.dateReserv|date ('d/m/y') }} à {{ reservation.hourReserv|date ('H:i') }}</div>
        <div>
            <p><b>Allergies dans le groupe :</b> {{ reservation.allergy }}</p>
            <p><b>Nombre de convives :</b> {{ reservation.numberOfSeats }}</p>
        </div>
        {% endfor %}



    </div>
{% endblock %}
